
.btn {
  border-radius: 20px;
}
nav {
  background-color: teal;
}

//new
.nav-link {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.navbar-brand {
  padding-left: 5px;
  color: aliceblue;
  font-size: 18px;
}