<section class="login-page">
  <div class="container">
    <div class="login-card row g-0">

      <!-- LEFT SIDE : REGISTRATION FORM -->
      <div class="col-lg-6 col-md-12 login-left">
        <div class="login-form">

          <div class="login-header">
            <span class="icon">🩺</span>
            <h3>Register</h3>
          </div>

          <form [formGroup]="itemForm" (ngSubmit)="onRegister()">

            <!-- Username -->
            <div class="form-group mb-3">
              <label>Username</label>
              <input
                type="text"
                class="form-control"
                formControlName="username"
                placeholder="Enter username"
              />
              <small class="text-danger"
                *ngIf="itemForm.get('username')?.touched && itemForm.get('username')?.invalid">
                Username is required
              </small>
            </div>

            <!-- Email -->
            <!-- <div class="form-group mb-3">
              <label>Email Address</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="Enter email"
              />
              <small class="text-danger"
                *ngIf="itemForm.get('email')?.touched && itemForm.get('email')?.invalid">
                Enter a valid email
              </small>
            </div> -->

            <div class="form-group mb-3">
            <label>Email address</label>
            <input
                type="email"
                formControlName="email"
                placeholder="Enter email"
                [disabled]="emailVerified"
              />
            
              <!-- Verify Email Button -->
            <button
                type="button"
                class="btn login-btn w-100"
                *ngIf="!showOtpSection"
                (click)="onVerifyEmail()"
                [disabled]="itemForm.get('email')?.invalid"
            >
                Verify Email
            </button>
            </div>
            
            <!-- OTP SECTION -->
            <div class="form-group mb-3" *ngIf="showOtpSection && !emailVerified">
            <label>Enter OTP</label>
            <input
                type="text"
                placeholder="Enter OTP"
                formControlName="otp"
                name="otp"
              />

              <button type="button" class="btn login-btn w-100" (click)="verifyOtp()">
                Verify OTP
            </button>
            </div>

            <p class="success-msg" *ngIf="emailVerified">
              ✅ Email verified successfully
            </p>

            <!-- Password -->
            <div class="form-group mb-3">
              <label>Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="password"
                placeholder="Enter password"
                (input)="checkPasswordStrength()"
              />
              <small class="fw-bold"
                [style.color]="strengthColors[passwordStrength]">
                {{ passwordStrength }}
              </small>
              <div class="text-danger">{{ passwordMessage }}</div>
            </div>

            <!-- Confirm Password -->
            <div class="form-group mb-3">
              <label>Confirm Password</label>
              <input
                type="password"
                class="form-control"
                [formControl]="confirmPasswordCtrl"
                placeholder="Confirm password"
              />
              <small class="text-danger"
                *ngIf="confirmPasswordCtrl.dirty && confirmPasswordCtrl.value !== itemForm.get('password')?.value">
                Passwords do not match
              </small>
              <small class="text-success fw-bold"
                *ngIf="confirmPasswordCtrl.dirty && confirmPasswordCtrl.value === itemForm.get('password')?.value">
                Password matched
              </small>
            </div>

            <!-- Role -->
            <div class="form-group mb-4">
              <label>Role</label>
              <select class="form-control" formControlName="role">
                <option value="" disabled>Choose role</option>
                <option value="HOSPITAL">Hospital</option>
                <option value="TECHNICIAN">Technician</option>
                <option value="SUPPLIER">Supplier</option>
              </select>
            </div>

            <button
              type="submit"
              class="btn login-btn w-100"
              (click)="onRegister()"
             >
              Register
            </button>
            
            <!-- Status messages -->
            <div *ngIf="showError" class="alert alert-danger mt-2">{{ responseMessage }}</div>
            <div *ngIf="showMessage" class="alert alert-success mt-2">{{ responseMessage }}</div>

            <p class="register-text mt-3">
              Already have an account?
              <a routerLink="/login">Login</a>
            </p>
          </form>

        </div>
      </div>

      <!-- RIGHT SIDE : ILLUSTRATION -->
      <div class="col-lg-6 d-none d-lg-flex p-0">
        <div class="illustration-section">
          <img
            src="assets/images/medical-login3.png"
            class="illustration-img"
            alt="Medical Illustration"
          />
        </div>
      </div>

    </div>
  </div>
</section>

