
<section class="login-page">
  <div class="container">
    <div class="login-card row g-0">

      <!-- LEFT SIDE : LOG IN FORM -->
      <div class="col-lg-6 col-md-12 login-left">
        <div class="login-form">

          <div class="login-header">
            <span class="icon">🩺</span>
            <h3>Login</h3>
          </div>

          <form [formGroup]="itemForm" (ngSubmit)="onLogin()">

            <div class="form-group mb-3">
              <label>Username or Email</label>
              <input
                type="text"
                class="form-control"
                formControlName="username"
                placeholder="Enter Username"
              />
            </div>

            <div class="form-group mb-4">
              <label>Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="password"
                placeholder="Enter password"
              />
            </div>

            <button type="submit" class="btn login-btn w-100">
              Login
            </button>

            <p class="register-text mt-3">
              Don’t have an account?
              <a routerLink="/registration">Register</a>
            </p>
          </form>

          <!-- <p class="footer-text">Oncosurgical Unit</p> -->
        </div>
      </div>

      <!-- RIGHT SIDE : ILLUSTRATION -->
      <div class="col-lg-6 d-none d-lg-flex p-0">
        <div class="illustration-section">
          <img
            src="assets/images/medical-login3.png"
            class="illustration-img"
            alt="Medical Illustration"
          />
        </div>
      </div>

    </div>
  </div>
</section>




